{% extends "_layouts/default.njk" %}

{% block body %}
    <div class="content">
        <strong>Olá, {{ user.name }}</strong>

        {% if user.provider === false %}
            <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

            <ul class="providers">
                {% for provider in providers %}
                    <li class="provider">
                        <div>
                            <img src="/file/{{ provider.avatar }}" alt=""/>
                            <strong>{{ provider.name }}</strong>
                        </div>
                        <a href="/app/appointments/new/{{ provider.id }}">+</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Selecione uma data para ver seus agendamentos (por padrão serão trazidos o do dia atual):</p>
            <input type="text" class="flatpickr" placeholder="Escolha uma data"/>
            <div id="hours">

            </div>
        {% endif %}

        <a href="/app/logout" class="logout">Sair</a>
    </div>

    <script type="text/javascript">
        flatpickr('.flatpickr', {
            minDate: new Date(),
            dateFormat: 'd/m/Y',
            defaultDate: Date.now(),
            onReady: function (date) {
                fetch(`/app/appointments`)
                 .then(function (response) {
                     response.text().then(function(html){
                         document.getElementById('hours').innerHTML = html
                     })
                 })
            },
            onChange: function (date) {
                fetch(`/app/appointments?date=${date[0].getTime()}`)
                 .then(function (response) {
                     response.text().then(function(html){
                         document.getElementById('hours').innerHTML = html
                     })
                 })
            }
        })
    </script>
{% endblock %}

